.navbar {
  width: 100%;
  background: #76FF03;
  padding: 20px 10px;
  box-sizing: border-box;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
}

.title {
	margin-right: auto;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 1.2rem;
}

.navbar button, .navbar a {
	margin-left: 16px;
}


.navbar a {
	color: #D84315;
  border:2px solid #40ad ;
  border-radius: .5em;
  background-color: #ee5;

   border: none;
	text-decoration: none;
}
.navbar a:hover {
  outline: none;
 
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}
